body {
    background-color: rgb(227, 233, 235);
  }
  
  h1 {
    color: darkred;
    text-align: center;
    text-align: right;
  }

  #cb{
    text-align: left;
    
  }

  #reg{
    padding-left: 1000px;
  }

  .regbox{
    border: 2px;
    border-width: 3px;
    margin-left: 500px;
    margin-top: 45px;
    padding-left: 36;
    width: 350px;
    padding-right: 30px;
    padding-bottom: 60px;
    border: 1px solid black;
    border-width: 4px;

    
  }

  form input{
    width: 35;
    height: 35;
  }
